# Hidden OS files
.DS_Store

# C++ and Qt Temporaries
*.pro.user
*.stash
object_script*

# Pods
Pods

# Editor User Data
xcuserdata
*.sublime-workspace

# Editor Temporaries
*~
[#]*[#]
.\#*

# Built Products
Makefile*
*.qm

/build/
/bin/
