# Hidden OS files
.DS_Store

# Pods
Pods

# Editor User Data
xcuserdata
*.sublime-workspace

# Editor Temporaries
*~
*.swp
[#]*[#]
.\#*
*.vcxproj
*.vcxproj.*
*.sln

# CMake stuff
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
*_automoc.cpp
/Testing

# Built Products
Makefile*
*.qm
ui_*
moc_*

/bin/
/build/
