[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=KanColleTool
Comment=A tool for KanColle
Exec=/usr/bin/kancolletool
Icon=kancolletool
Terminal=false
Categories=Game;
